{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Concurso'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="panel panel-default">
    <div class="panel-body">
       <div class="row">
        <div class="col-md-12">
            <div class="row">
                {{ form_start(filterForm) }}
                    <div class="col-md-10">
                        <div class="col-md-4">
                            {{ form_widget(filterForm.dectreto) }}
                            {{ form_widget(filterForm.dectreto) }} 
                        </div>
                         <div class="col-md-4">
                            {{ form_widget(filterForm.fechaInicio) }}
                        </div>
                         <div class="col-md-4">
                            {{ form_widget(filterForm.fechaFin) }}
                        </div>
                    </div>
                       {{ form_rest(filterForm) }}

                    </div>

            </div> 
        </div>
    </div>  
</div>
<div class="row">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'Concurso'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>    
   
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                
                    <th{% if entities.isSorted('a.Tipoconcurso') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Tipo concurso', 'a.tipoConcurso') }}</th>
                    <th{% if entities.isSorted('a.Fechainicio') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha inicio', 'a.fechaInicio') }}</th>
                    <th{% if entities.isSorted('a.Fechafin') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha fin', 'a.fechaFin') }}</th>
                    <th{% if entities.isSorted('a.Dectreto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Dectreto', 'a.dectreto') }}</th>
                    <th{% if entities.isSorted('a.Cantidadcargo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cantidad de cargos', 'a.cantidadCargo') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>

                    <td>{{ entity.tipoConcurso }}</td>
                    <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i') }}{% endif %}</td>
                    <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d H:i') }}{% endif %}</td>
                    <td>{{ entity.dectreto }}</td>
                    <td>{{ entity.cantidadCargo }}</td>
                    <td>
                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_concurso_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>
                
        
                    <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_concurso_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>
                                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>

        <div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('admin_concurso_new') }}">
            {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Concurso
        </a>
    </div>
    </div>
        
{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
$('#home_backendbundle_concursofiltertype_fechaInicio_left_date').datepicker({
})
$('#home_backendbundle_concursofiltertype_fechaInicio_left_date').datepicker({
})
</script>
{% endblock %}