{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'ConcursoxCargo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    
 <div class="panel panel-default">
    <div class="panel-body">   
     <h3><b>Cargo del concurso decreto:{{entity.concurso}}</b></h3>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Organismo</label>
            </div>
            <div class="col-md-5">
                {{entity.oficina}}
            </div>
            <div class="col-md-3">
        
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Cargo</label>
            </div>
            <div class="col-md-5">
                {{entity.cargo}}
            </div>
        </div>
            
           
    </div>
</div>
 <div class="panel panel-default">
  <div class="panel-body">   
    <h3>Inscriptos</b></h3>

    <table class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>  
                    <th>Estado</th>
                    <th>Numero Aleatorio</th>
                   
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Celular</th>
                </tr>
            </thead>
            <tbody>
            {% for formulario in entity.formularios %}
                <tr>
                    
                    <td>{{ formulario.estado }}</td>
                    <td>{{ formulario.nroAleatorio }}</td>
                    <td>{{ formulario.entregoCarpeta }}</td>
                    <td>{{ formulario.apellido }}</td>
                    <td>{{ formulario.nombre }}</td>
                    <td>{{ formulario.dNI }}</td>
                    <td>{{ formulario.celular }}</td>
                    <td>
                        
        
                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_formulario_show', { 'id': formulario.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>
                
        
                    <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_formulario_edit', { 'id': formulario.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>
                                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
 </div>
</div>



        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_concursoxcargo') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('admin_concursoxcargo_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
