{% extends 'MWSimpleCrudGeneratorBundle::frontend.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Concurso'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading">    
        <h3>Lista de concursos abiertos</h3>
    </div>    
     <table class="table table-striped  table-condensed table-responsive">
        <thead>
            <tr>
                <th> Dectreto </th>
                <th>Tipoconcurso</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Cantidadcargo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><h5><b> {{ entity.dectreto }} </b></h5></td>
                <td>{{ entity.tipoConcurso }}</td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ entity.cantidadCargo }}</td>
                <td>
                <ul>
                    <a href="{{ path('concurso_show', { 'id': entity.id }) }}" class="btn btn-sm btn-info">ver cargos</a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>

   
    </div>
    </div>
        
{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();

</script>
{% endblock %}