{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Concurso'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {% form_theme form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.new.creation'|trans({'%entity%': 'Concurso'}, 'MWSimpleCrudGeneratorBundle') }}
            </h3>
        </div>
            
        <div class="panel-body">
            {% include 'HomeBackendBundle:Concurso:form.html.twig' with { 'form' : form } %}
        </div>
    </div>
        {% block _user_addresses_addresses_entry_label %}
        {% endblock %}
        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_concurso') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
<script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
<script src="{{ asset('bundles/homebackend/js/concurso.js') }}"></script>
<script type="text/javascript">
    $('#home_backendbundle_concurso_fechaFin').datepicker({
         inline: true,
         sideBySide: true
    })
    $('#home_backendbundle_concurso_fechaInicio').datepicker({
         inline: true,
         sideBySide: true
    })
    $('.cargoselect').select2({
        minimumInputLength: 3,
        placeholder: "seleccione un cargo",
    });
    $('.oficinaselect').select2({
        minimumInputLength: 3,
        placeholder: "seleccione una oficina",
    });
</script>



{% endblock %}
