{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Concurso'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    
<div class="panel panel-default">
    <div class="panel-body">
        <h3><b>Concurso</b></h3>
           
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Tipo de Concurso</label>
                    </div>
                    <div class="col-md-5">
                        {{entity.tipoConcurso}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Fecha de inicio</label>
                    </div>
                    <div class="col-md-5">
                        {{entity.fechaInicio|date('d/m/Y')}}
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Fecha fin</label>
                    </div>
                    <div class="col-md-5">
                        {{entity.fechaFin|date('d/m/Y')}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Decreto</label>
                    </div>
                    <div class="col-md-5">
                            {{ entity.dectreto }}
                       
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Cantidad de Cargos</label>
                    </div>
                    <div class="col-md-5">
                            {{ entity.cantidadCargo }}
                       
                    </div>     
                </div>
        </div>
</div>
{% for cargo in entity.concursoxcargos %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3><b>Cargo</b></h3>
       
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Organismo</label>
                </div>
                <div class="col-md-5">
                    {{cargo.oficina}}
                </div>
                <div class="col-md-3">
            <a class="btn btn-primary likepaginator"  href="{{ path('admin_concursoxcargo_show', { 'id': cargo.id }) }}"  rel="tooltip" data-original-title="Ver inscriptos">
            ver inscriptos
            </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Cargo</label>
                </div>
                <div class="col-md-5">
                    {{cargo.cargo}}
                </div>
            </div>
            
           
    </div>
</div>

{% endfor %}
        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_concurso') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('admin_concurso_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
