{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Concurso list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipoconcurso</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Dectreto</th>
                <th>Cantidadcargo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('concurso_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipoConcurso }}</td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.dectreto }}</td>
                <td>{{ entity.cantidadCargo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('concurso_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
